<form action="" method="POST">
    <label>Логин:</label><br>
    <input name="login" type="text" value={{ data.login }}><br>
    <label>Пароль:</label><br>
    <input name="password" type="password" value={{ data.password }}><br><br>
    <button name="submit1" type="submit">Войти</button>
    <p>Перейти на <a href='main'>Главную страницу</a></p>
</form>